langchain
langchain-core
langchain-community
langchain-openai
langchain-groq
pypdf
pymupdf
pandas
numpy
ipykernel
tiktoken
chromadb
faiss-cpu
python-dotenv
python-docx
docx2txt
unstructured[docx]

#Embeddings
langchain-huggingface
sentence-transformers
transformers
langchain-experimental